.container {
  margin: 40px;
  border: 5px dashed pink;
}
.content {
  font-size: 15px;
  text-align: center;
  background-color: rgb(207, 79, 190);
  color: white;
  padding: 0.4rem 0;
  margin: 0;
}
